<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baráth Dávid</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\David\Desktop\code\Web\Portfolió\style\style.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <body style="
    background: linear-gradient(-45deg, #864430, #218686, #c0a275,#187c65);
    height: 160vh;
    color: #fff;
    background-size: 400% 400%;
    position: relative;
    animation: change 30s ease-in-out infinite;
    
    ">
    <section class="header">
        <nav>
            <div class="nav">
                <div class="picture">
                    <div class="profile_div">
                    <img class="profile_pic" src="C:\Users\papp péter\Desktop\code\Web\Portfolió\profile_pic\123026057_2099008166897023_618249393967907314_n.jpg" alt="">
                    </div>
                </div>
                <div class="tabs_place">
                    <div class="tabs">
                        <div class="home"><a href="index.html"><span class="spn_home">Home</span></a></div>
                        <div class="about"><a href="About.html"><span>About</span></a></div>
                        <div class="projects"><a href="Project.html"><span>Projects</span></a></div>
                    </div>
                </div>
                <div class="theme">
                    <div class="btn_div">
                   <button class="theme_btn"><img class="theme_img" src="C:\Users\papp péter\Desktop\code\Web\Portfolió\profile_pic\theme-icon-29.jpg" alt=""></button>
                    </div>
                    </div>
                </div>
            </div>
        </nav>
    </section>
    <section class="me">
        <div class="ab_main_div">
            <br>
            <p style="
            text-align: center;
            font-size: 17px;
            margin-top: 60px;
            color: #b67561;
            font-weight: 700;
            ">ABOUT ME</p>

            <h3>Here's my story.</h3>
            <p class="story">I’m David, a student, Lorem,nsectetur adipisicing elit. Iure voluptates, quibusdam ipsa optio facilis, consequatur sint molestiae reiciendis non dolore sit odio reprehenderit ipsam at delectus voluptatibus, adipisci pariatur harum?</p>
            <p class="story">I’m currently working as a junior front end developer at Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, cum necessitatibus. Soluta ipsam quasi corrupti totam ut corporis maiores voluptas officia. Libero iste, maiores molestiae consequuntur dolorum exerci</p>
            <p class="story">Before lorem, I worked as a Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum aliquid voluptas dolor quae quo magni incidunt mollitia ex illum, dolorem blanditiis necessit</p>
            <div class="aboutimg_div">
                <img  class="aboutimg" src="C:\Users\papp péter\Desktop\code\Web\Portfolió\profile_pic\123026057_2099008166897023_618249393967907314_n.jpg" alt="">
                <div>
               <p class="story">In a past life, I was an indie mobile developer making mobile games for iOS and Android, with one of my games outselling Angry Birds.</p>
                <p class="story">You can find me on Twitter where I share tech-related tidbits and build in public, or you can follow me on GitHub. I often write about my findings on my blog and create cool things over on CodePen. I also help run a mediocre podcast.</p>
            </div>
            </div>
        </div>
        <div class="line">	&#8259;	&#8259;	&#8259;</div>
        <h3 class="my_story_title">Work Experience</h3>
        <p class="story">Here's a brief rundown of my most recent experiences.</p>
        <div>
            <p class="work_p">Lorem</p><span class="work_spn">---------------------------------------------------------</span><p class="work_p">Front End Developer
                2022 -</p>
        </div>
        <div class="about_btn_div">
            <button class="cv_btn">View my resume</button>
        </div>
    </section>
   
    <div class="line"></div>
    <div class="bottom">
        <div class="name">
            <p>© 2022 Baráth Dávid</p>
        </div>
        <div class="social">
            <div><img class="git" src="C:\Users\papp péter\Desktop\code\Web\Portfolió\social\25231.png" alt=""></div>
            <div><img class="facebook" src="C:\Users\papp péter\Desktop\code\Web\Portfolió\social\Facebook_f_logo_(2019).svg.png" alt=""></div>
            <div><img  class="linkedin" src="C:\Users\papp péter\Desktop\code\Web\Portfolió\social\Linkedin-logo-on-transparent-Background-PNG-.png" alt=""></div>
        </div>
        
    </div>
</body>