<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baráth Dávid</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\style\style.css">
    <link rel="stylesheet" href="/style\About.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="module"  src="\script\About.js"></script>
    <body class="body">
    <section class="header">
        <nav>
            <div class="nav">
                <div class="picture">
                    <div class="profile_div">
                    <img class="profile_pic" src="\profile_pic\123026057_2099008166897023_618249393967907314_n.jpg" alt="">
                    </div>
                </div>
                <div class="tabs_place">
                    <div class="tabs">
                        <div class="home"><a href="index.html"><span id="span" class="spn_home">Home</span></a></div>
                        <div class="about"><a href="About.html"><span>About</span></a></div>
                        <div class="projects"><a href="Project.html"><span>Projects</span></a></div>
                    </div>
                </div>
                <div class="theme">
                    <div class="btn_div">
                   <button  data-color="changetheme" id="themebtn" class="theme_btn"><img class="theme_img" src="\profile_pic\theme-icon-29.jpg" alt=""></button>
                   <div><button class="mobile_btn"><i id="bar" class="fa-solid fa-bars"></i></button> 
                    
                    <div class="modal">
                        <div class="margin">
                            <div class="M_home"><a href="index.html"><span class="m_home">Home</span></a></div>
                            <div id="x" class="m_iksz"><i class="fa-solid fa-xmark"></i></div>
                            <div class="M_about"><a href="About.html"><span class="m_about">About</span></a></div>
                            <div class="M_Projects"><a href="Project.html"> <span class="m_projects">Projects</span></a></div>
                        </div>
                    <div class="borderline"></div>
                    <div class="ThemeBtn">
                        <button class="m_btn"><i class="fa-solid fa-swatchbook"></i>Change theme</button>
                    </div>
                </div>
                
                   </div>
                   
                    </div>
                    </div>
                </div>
            </div>
        </nav>
    </section>
    <section class="me">
        <div class="ab_main_div">
            <br>
            <p style="
            text-align: center;
            font-size: 18px;
            margin-top: 10px;
            color: #b67561;
            font-weight: 700;
            ">ABOUT ME</p>

            <h3>Here's my story.</h3>
            <p class="story">I’m David, a student, Lorem,nsectetur adipisicing elit. Iure voluptates, quibusdam ipsa optio facilis, consequatur sint molestiae reiciendis non dolore sit odio reprehenderit ipsam at delectus voluptatibus, adipisci pariatur harum?</p>
            <p class="story">I’m currently working as a junior front end developer at Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, cum necessitatibus. Soluta ipsam quasi corrupti totam ut corporis maiores voluptas officia. Libero iste, maiores molestiae consequuntur dolorum exerci</p>
            <p class="story">Before lorem, I worked as a Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum aliquid voluptas dolor quae quo magni incidunt mollitia ex illum, dolorem blanditiis necessit</p>
            <div class="aboutimg_div">
                <img  class="aboutimg" src="\profile_pic\123026057_2099008166897023_618249393967907314_n.jpg" alt="">
               <p class="story">In a past life, I was an indie mobile developer making mobile games for iOS and Android, with one of my games outselling Angry Birds.</p>
                <p class="story">You can find me on Twitter where I share tech-related tidbits and build in public, or you can follow me on GitHub. I often write about my findings on my blog and create cool things over on CodePen. I also help run a mediocre podcast.</p>
            </div>
            </div>
        </div>
        <div class="line">	&#8259;	&#8259;	&#8259;</div>
        <div class="work_exp">
        <h3 class="my_story_title">Work Experience</h3>
        <p style="text-align:left;
        
        "">Here's a brief rundown of my most recent experiences.</p>
        <div>
            <p class="work_p">Lorem</p><span  id="work_spn"class="work_spn">-------------------------------------------------------------------------------------------------</span><p class="work_p">Front End Developer
                2022 -</p>
        </div>
        <div class="about_btn_div">
            <button class="cv_btn">View my resume</button>
        </div>
    </div>
    </section>
   
    <div class="line"></div>
    <div class="bottom">
        <div class="name">
            <p>© 2022 Baráth Dávid</p>
        </div>
        <div class="social">
            <div><img class="git" src="\social\25231.png" alt=""></div>
            <div><img class="facebook" src="\social\Facebook_f_logo_(2019).svg.png" alt=""></div>
            <div><img  class="linkedin" src="\social\Linkedin-logo-on-transparent-Background-PNG-.png" alt=""></div>
        </div>
    </div>
</body>
</html>