<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baráth Dávid</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\papp péter\Desktop\code\Web\Portfolió\style\style.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    
</head>
<body>
<section class="header">
    <nav>
        <div class="nav">
            <div class="picture">
                <div class="profile_div">
                <img class="profile_pic" src="C:\Users\papp péter\Desktop\code\Web\Portfolió\profile_pic\123026057_2099008166897023_618249393967907314_n.jpg" alt="">
                </div>
            </div>
            <div class="tabs_place">
                <div class="tabs">
                    <div class="home"><a href="index.html"><span class="spn_home">Home</span></a></div>
                    <div class="about"><a href="About.html"><span>About</span></a></div>
                    <div class="projects"><a href="Project.html"><span>Projects</span></a></div>
                </div>
            </div>
            <div class="theme">
                <div class="btn_div">
               <button class="theme_btn"><img class="theme_img" src="C:\Users\papp péter\Desktop\code\Web\Portfolió\profile_pic\theme-icon-29.jpg" alt=""></button>
                </div>
                </div>
            </div>
        </div>
    </nav>
</section>