<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baráth Dávid</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\style\style.css">
    <link rel="stylesheet" href="\style\About.css">
    <script type="module"src="\script\Project.js" defer></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script
    src="https://kit.fontawesome.com/5daa8eb347.js"
    crossorigin="anonymous"
  ></script>
    <script
      src="https://kit.fontawesome.com/5daa8eb347.js"
      crossorigin="anonymous"
    ></script>
    
</head>
<body class="body">
<section class="header">
    <nav>
        <div class="nav">
            <div class="picture">
                <div class="profile_div">
                <img class="profile_pic" src="\profile_pic\123026057_2099008166897023_618249393967907314_n.jpg" alt="">
                </div>
            </div>
            <div class="tabs_place">
                <div class="tabs">
                    <div class="home"><a href="index.html"><span id="span" class="spn_home">Home</span></a></div>
                    <div class="about"><a href="About.html"><span>About</span></a></div>
                    <div class="projects"><a href="Project.html"><span>Projects</span></a></div>
                </div>
            </div>
            <div class="theme">
                <div class="btn_div">
               <button  data-color="changetheme" id="themebtn" class="theme_btn"><img class="theme_img" src="\profile_pic\theme-icon-29.jpg" alt=""></button>
               <div><button class="mobile_btn"><i id="bar" class="fa-solid fa-bars"></i></button> 
                
                <div class="modal">
                    <div class="margin">
                <div class="M_home"><a href="index.html"><span class="m_home">Home</span></a></div>
                <div id="x" class="m_iksz"><i class="fa-solid fa-xmark"></i></div>
                <div class="M_about"><a href="About.html"><span class="m_about">About</span></a></div>
                <div class="M_Projects"><a href="Project.html"><span class="m_projects">Projects</span></a></div>
                    </div>
                <div class="borderline"></div>
                <div class="ThemeBtn">
                    <button class="m_btn"><i class="fa-solid fa-swatchbook"></i>Change theme</button>
                </div>
            </div>
            
               </div>
               
                </div>
                </div>
            </div>
        </div>
    </nav>
</section>
<div class="projects">
    <div class="introduction-flex">
        <div class="info1">
            <h1 class="proj_h1">My projects</h1>
        </div>
        <div class="info2">
            <i class="fa-solid fa-table"></i>
        </div>
    </div>
    <div><p style="font-size: 16px; margin-top: 20px;">Lorem, ipsum.</p></div>

  <!-- Photo Grid -->
  <div class="row"> 
    <div class="column">
      <img src="\projects_grid\Képernyőkép 2022-07-26 222334.png" style="width:100%">
      <img src="\projects_grid\Képernyőkép 2022-07-26 224527.png" style="width:100%">
      <img src="\projects_grid\Képernyőkép 2022-07-26 222621.png" style="width:100%">
    </div>
    
    <div class="column">
      <img src="\projects_grid\Képernyőkép 2022-07-26 222924.png" style="width:100%">
      <img src="\projects_grid\Képernyőkép 2022-07-26 223127.png" style="width:100%">
      <img src="\projects_grid\Képernyőkép 2022-07-26 222725.png" style="width:100%">
    </div> 
     
    <div class="column">
      <img src="\projects_grid\Képernyőkép 2022-07-26 223047.png" style="width:100%">
      <img src="\projects_grid\Képernyőkép 2022-07-26 222814.png" style="width:100%">
      <!-- <img src="\projects_grid\Képernyőkép 2022-07-26 224842.png" style="width:100%">
        <img src="\project_thumbnail\Screenshot_2019-05-08 JavaScript Event(1).png" style="width:100%"> -->
      
    </div>

    <div class="column">
        <img src="\projects_grid\Képernyőkép 2022-07-26 224842.png" style="width:100%">
        <img src="\project_thumbnail\Screenshot_2019-05-08 JavaScript Event(1).png" style="width:100%">
    </div>
  </div>
</div>

<div class="line2">
</div>
<div class="bottom">
    <div class="name">
        <p>© 2022 Baráth Dávid</p>
    </div>
    <div class="social">
        <div><img class="git" src="\social\25231.png" alt=""></div>
        <div><img class="facebook" src="\social\Facebook_f_logo_(2019).svg.png" alt=""></div>
        <div><img  class="linkedin" src="\social\Linkedin-logo-on-transparent-Background-PNG-.png" alt=""></div>
    </div>
    
</div>
</body>
</html>
